* {
	color: gold;
}

#gameTitle {
	background: url("../images/titleScreen1.png") no-repeat;
	height: 420px;
	width: 750px;
	position: absolute;
	z-index: 20;
	left: 187px;
	border-radius: 20px;
}

.animate {
	animation-name: fade;
	animation-duration: 2s;
	animation-direction: normal;
	animation-timing-function: ease-out;
}

@keyframes fade {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

#gameBoard {
	width: 750px;
	height: 420px;
	background: url("../images/ovaloffice.png") no-repeat;
	cursor: url("../images/hammer.png"), pointer;
}

#gameBoard:active {
	cursor: url("../images/hammer2.png"), pointer; /*pointer changes on click to resemble animation*/
}

#instructions { /*initial gameplay instructions, disppear when game starts*/
	z-index: 10;
	width: 500px;
	height: 300px;
	background-color: rgba(0,0,0,.7);
	position: absolute;
	left: 120px;
	top: 50px;
	border-radius: 20px;
}

#introText { /*Text within instructions box*/
	font-size: 35px;
	bottom: 30px;
	left: 5px;
}

header {
	height: 100px;
	background: red;
	margin: 0 0 40px 0;
	border-radius: 0 0 20px 20px;
	min-width: 750px;

}

h1 {
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	color: gold;
	font-family: 'Bungee Shade', cursive;
	font-size: 50px;
}
h2,h3 {
	text-align: center;
	font-size: 40px;
	position: relative;
}

p{
	text-align: center;
	font-size: 30px;
	vertical-align: middle;
	line-height: 100px;
}

span {
	position: relative;
	color: gold;
}

body {
	background: blue;
	cursor: url("../images/hammer.png"); /*cursor changes to a hammer for the game*/
	user-select: none;
}

li {
	list-style: none;
	color: gold;
	position: relative;
	font-size: 30px;
	top: 10px;
	left: 10px;
}

button { /*game buttons*/
	background: red;
	float: left;
	margin: 50px 0 0 0;
	height: 100px;
	width: 200px;
	border-radius: 30px;
	border-style: none;
	top: 10px;
	position: relative;
	color: gold;
	font-size: 30px;
	visibility: hidden;
}

a { /*removes underlined links*/
	text-decoration: none;
}

.scoreBoard {
	background: red;
	height: 100px;
	width: 200px;
	border-radius: 30px;
	float: left;
	position: relative;
}

#winMessage {
	border-radius: 20px;
	width: 250px;
	height: 100px;
	background: red;
	position: relative;
	z-index: 1;
	bottom: 300px;
	left: 250px;
	visibility: hidden;
}

#resetGame {
	visibility: hidden;
}

#gameTimer {
	background: red;
	height: 100px;
	width: 200px;
	position: relative;
	bottom: 610px;
	border-radius: 20px 0 30px 0;
}

#gameContainer {
	max-width: 1000px;
	position: relative;
	margin: 0 auto;
}

#gameBoard {
	float: left;
	position: relative;
	border-radius: 20px;
}

img { 
	height: 100%;
	width: 100%;
}

#trump1 {
	position: relative;
	left: 300px;
	top: 141px;
}

#trump2 {
	position: relative;
	left: 100px;
	top: 120px;
}

#trump3 {
	position: relative;
	left: 500px;
	bottom: 31px;
}

.trumps {
	height: 150px;
	width: 150px;
	visibility: hidden; /*set to hidden for gameplay reasons*/
	position: absolute;
}