* {
	color: gold;
}

#gameBoard {
	width: 750px;
	height: 420px;
	background: url("../images/ovaloffice.png") no-repeat;
}

header {
	height: 100px;
	background: red;
	margin: 0 0 50px 0;
}

h1 {
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	color: gold;
}

p{
	text-align: center;
	font-size: 30px;
	vertical-align: middle;
	line-height: 100px;
}

body {
	background: blue;
}

li {
	list-style: none;
	color: gold;
	position: relative;
	font-size: 30px;
	top: 10px;
	left: 10px;
}

button {
	background: red;
	float: left;
	height: 100px;
	width: 200px;
	border-radius: 30px;
	border-style: none;
	top: 10px;
	position: relative;
	color: gold;
	font-size: 30px;
}

.trumps {
	height: 150px;
	width: 150px;
	visibility: hidden;
	position: absolute;
}

.winMessage {
	border-radius: 20px;
	width: 250px;
	height: 100px;
	background: red;
	position: relative;
	z-index: 1;
	bottom: 300px;
	left: 250px;
}

#timer {
	background: red;
	height: 100px;
	width: 200px;
}

.scoreBoard {
	background: red;
	height: 100px;
	width: 200px;
	border-radius: 30px;
	float: left;
	clear: both;
}

#gameBoard {
	float: left;
	position: relative;
}

img {
	height: 100%;
	width: 100%;
}

#trump1 {
	position: relative;
	left: 300px;
	top: 141px;
}

#trump2 {
	position: relative;
	left: 100px;
	top: 120px;
}

#trump3 {
	position: relative;
	left: 500px;
	bottom: 31px;
}